

/*********** body ***********/		 
body {
	margin: 1%;
    padding: 1%;
	font-family:'Open Sans', sans-serif;
	font-weight: 400;
}
section #text {
	color: #ffffff;
}

/*********** Nav **********/
header {
	background-color: #839ca3;
    text-align: center;
	height: 75px;
	width: 100%;
	border: 5px solid #363636;
}

/*********** Description *************/
#description {
    width: 100%;
    height: 40%;
    padding: 10px;
    margin-top: 1%;
    display: inline-block;
    border: 5px solid #363636;
    background-color: #839ca3
}

#description-img {
	height:90%;
	width:25%;
    border-radius: 50% 50% 50% 50%;
    border: 5px solid #363636;
}

.section-desc {
    float: right;
    width: 70%;
    height: 90%;
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
    border: 5px solid #363636;
}

/*********** Cards *************/

#card-section{
    margin-top: 10px;
	height: 1000px;
	text-align: center;
}

.card {
    background-color: #839ca3;
    padding: 10px;
	display: inline-block;
    padding: 10px;
	width: 42%;
    height: 40%;
	font-size: 20px;
	text-align: center;
    border: 5px solid #363636;
    margin: 2%;
}

.card-img {
    border: 5px solid #363636;
    height: 40%
}

.card-desc{
    border: 5px solid #363636;
    height: 20%;
    background-color: white;

}

/*********** Footer *************/
footer {
    margin-top: 10px;
    background-color: #839ca3;
    text-align: center;
	height: 75px;
	width: 100%;
	border: 5px solid #363636;
}